body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.screen-wrapper{
  display:flex;
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans';
  letter-spacing: 0px;
  text-align: center;
  font-style: normal;
}

.side-image{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 10vh;
  width: 30vw;
  height: 100vh;
  background-image: linear-gradient(
    rgba(58,141,255,0.85), 
    rgba(134,185,255,0.85)
  ), url(./images/bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.side-image > img{
  width:calc(67vw/10);
  height:calc(67vw/10);
  margin-top: -60px;
  margin-bottom: calc(35vw/10);
}

.right-side-wrapper{
  display:flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.top-button-wrapper{
  position: absolute;
  right: calc(35vw/10);
  top: calc(25vw/10);
  width: max(250px,calc(300vw/10));
  height: max(54px,calc(54vw/10));
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-tip{
  line-height: 19px;
  color:lightgrey;
}
.top-button{
  width: max(100px,calc(90vw/10));
  height: max(50px,calc(40vw/10));
  background: #FFFFFF;
  box-shadow: 0 calc(2vw / 10) calc(12vw / 10) rgba(74, 106, 149, 0.2);
}
.top-button.MuiButton-text{
  color: #3A8DFF;
  text-decoration: none;
}

.register-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: max(300px,calc(300vw/10));
  margin: auto;
}
.login-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: max(150px,calc(150vw/10));
  margin: auto;
}
.form-text.MuiTypography-body1{
  font-weight: bold;
}
.form-textfield{
  width: max(200px,calc(300vw/10));
  height: max(50px,calc(45vw/10));
}
.form-submit-button{
  width: max(100px,calc(120vw/10));
  height: max(50px,calc(50vw/10));
  border-Radius: calc(3vw/10);
  padding: calc(18vw/10) calc(36vw/10);
}

@media only screen and (max-width: 600px) {
  .side-image{
    display:none;
  }
}